# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*~
/.history/

# OS or Editor folders
._*
.cache
.DS_Store
Thumbs.db
.bak

tmp*
report/italia-domani_files/*
report/_publish.yml
report/italia-domani.html
